<div class="modal-content" *ngIf="hideclose">
  <div class="content">
    <div class="header">
      <h1>Modal Title</h1>
    </div>


    <div class="modal-body">
      <p>TypeScript je open-source programovací jazyk vytvořený a spravovaný firmou Microsoft. Jedná se o nadstavbu nad jazykem JavaScript, která jej rozšiřuje o statické typování a další atributy, které známe z objektově orientovaného programování. Samotný kód psaný v TypeScriptu se kompiluje do JavaScriptu.</p>
    </div>
    <div class="modal-foot">
    <button type="button" (click)= "hide()">X</button>
    </div>
  </div>
</div>


